* { background: #fff; }
body { 
    font-family: 'Libre Baskerville', serif;
    color: black; 
}
header {
    font-family: 'Inconsolata', monospace;
    color: black; 
}
blockquote { font-style: italic; color: black; }
a:link, a:visited { border-bottom-width: 1px; border-bottom-style: solid; }
